.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #31302e;
  color: #ffbf9a;
  padding: 5rem;
  padding-bottom: 2rem;
}

.main_container {
  width: 100%;
  display: flex;
  padding: 10px;
  flex: 2 1 auto;
  gap: 10px;
}

.social_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  flex: 1 1 auto;
  border-bottom: 1px solid #ffbf9a;
}
.legal_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.icon_container {
  font-size: 3rem;
  color: #ffbf9a;
}

.about {
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
}
.about > h1 {
  font-size: x-large;
}

.about > p {
  font-size: large;
  line-height: 3.5vh;
}
